<form id="frmAltaActor" name="frmAltaActor" method=post>
  <input type="hidden" name="action" value="Pelicula::agregarActor">

  <table align="center" border="0" cellpadding="3" cellspacing="0" width="90%">


    <tr>
      <th class="title" colspan="4" align="center">Alta Actor</th>
    </tr>

    <tr><td><br /></td></tr>

    <tr>
      <th align="right" width="35%">Nombre: </th>
      <td align="left"><input type="text" name="nombreArtista" id="nombreArtista" size="50" maxlength="150"></td>
    </tr>

    <tr>
      <th align="right" width="35%">Apellido: </th>
      <td align="left"><input type="text" name="apellidoArtista" id="apellidoArtista" size="50" maxlength="150"></td>
    </tr>

    <tr>
      <th align="right" width="35%">DNI: </th>
      <td align="left"><input type="text" name="dniArtista" id="dniArtista" size="50" maxlength="150"></td>
    </tr>

    <tr>
      <th align="right" width="35%">e-mail: </th>
      <td align="left"><input type="text" name="emailArtista" id="emailArtista" size="50" maxlength="150"></td>
    </tr>

    <tr>
      <th align="right" width="35%">Nombre Artistico: </th>
      <td align="left"><input type="text" name="nombreArtistico" id="nombreArtistico" size="50" maxlength="150"></td>
    </tr>

    <tr><td><br /></td></tr>
    <tr>
      <td colspan="2" align="center">
        <input type="button" onclick="location.href='index.php?action=Ingreso::main'" value=" Volver ">
        <input type="submit" onclick="location.href='index.php?action=Ingreso::main'" value=" Guardar ">
      </td>
    </tr>
    <tr><td><br /></td></tr>

  </table>
</form>